<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>

    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <form class="row g-3" method="post" th:action="@{/estudiantes/update}">
                <legend>Editar estudiante</legend>
                <div class="row">
                    <div class="col-md-3">
                        <label for="codigo" class="form-label mt-4">Codigo</label>
                        <input type="text" class="form-control rounded-2" id="codigo" name="codigo" th:value="${estudiante.codigo}" readonly>
                    </div>
                    <div class="col-md-3">
                        <label for="nombre" class="form-label mt-4">Nombre</label>
                        <input type="text" class="form-control rounded-2" id="nombre" name="nombre" th:value="${estudiante.nombre}" placeholder="Introduce el nombre">
                    </div>
                    <div class="col-md-3">
                        <label for="apellidos" class="form-label mt-4">Apellidos</label>
                        <input type="text" class="form-control rounded-2" id="apellidos" name="apellidos" th:value="${estudiante.apellidos}" placeholder="Introduce los apellidos">
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label mt-4">Email</label>
                        <input type="text" class="form-control rounded-2" id="email" name="email" th:value="${estudiante.email}" placeholder="Introduce el email">
                    </div>
                    <div class="col-md-3">
                        <label for="fechaNacimiento" class="form-label mt-4">Fecha de Nacimiento</label>
                        <input type="date" class="form-control rounded-2" id="fechaNacimiento" name="fechaNacimiento" th:value="${estudiante.fechaNacimiento}" placeholder="Introduce la fecha de nacimiento">
                    </div>
                    <div class="col-md-3">
                        <label for="dni" class="form-label mt-4">DNI</label>
                        <input type="text" class="form-control rounded-2" id="dni" name="dni" th:value="${estudiante.dni}" placeholder="Introduce el dni">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success rounded-2">Confirmar</button>
                    <button type="button" class="btn btn-danger rounded-2"><a th:href="@{/estudiantes/list}">Cancelar</a></button>
                </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>