<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"> </head>
<body>
    
    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Módulos matriculados</h1>
        <h3 class="text-center" th:if="${estModulos.size() eq 0}">No estás matriculado en ningún módulo</h3>
        <div class="row">
            <table class="table table-striped table-hover p-0 m-0" th:if="${estModulos.size() ne 0}">
                <thead>
                    <tr>
                        <th scope="col">Módulo</th>
                        <th scope="col">Docente</th>
                        <th scope="col">1º Evaluación</th>
                        <th scope="col">2º Evaluación</th>
                        <th scope="col">3º Evaluación</th>
                        <th scope="col">Final</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="estMod : ${estModulos}">
                        <tr class="table-light text p-0 m-0 align-middle">
                            <td th:text="${estMod.getModulo().nombre}"></td>
                            <td th:if="${estMod.getModulo().docente ne null}" th:text="|${estMod.getModulo().docente.nombre} ${estMod.getModulo().docente.apellidos}|"></td>
                            <td th:unless="${estMod.getModulo().docente ne null}">Sin docente asignado</td>
                            <td th:if="${estMod.getPrimEv() eq 0}">Sin nota</td>
                            <td th:if="${estMod.getPrimEv() ne 0}" th:text="${estMod.getPrimEv()}"></td>   
                            <td th:if="${estMod.getSegunEv() eq 0}">Sin nota</td>
                            <td th:if="${estMod.getSegunEv() ne 0}" th:text="${estMod.getSegunEv()}"></td>  
                            <td th:if="${estMod.getTercEv() eq 0}">Sin nota</td>
                            <td th:if="${estMod.getTercEv() ne 0}" th:text="${estMod.getTercEv()}"></td>  
                            <td th:if="${estMod.getPrimEv() ne 0 and estMod.getSegunEv() ne 0 and estMod.getTercEv() ne 0}" th:text="${estMod.getNotaFinal()}"></td>
                            <td th:unless="${estMod.getPrimEv() ne 0 and estMod.getSegunEv() ne 0 and estMod.getTercEv() ne 0}">Sin nota</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>  
    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>