<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>

    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <form class="row g-3" method="post" th:action="@{/docentes/update}">
                <legend>Editar docente</legend>
                <div class="row">
                    <div class="col-md-3">
                        <label for="codigo" class="form-label mt-4">Codigo</label>
                        <input type="text" class="form-control rounded-2" id="codigo" name="codigo" th:value="${docente.codigo}" readonly>
                    </div>
                    <div class="col-md-3">
                        <label for="nombre" class="form-label mt-4">Nombre</label>
                        <input type="text" class="form-control rounded-2" id="nombre" name="nombre" th:value="${docente.nombre}" placeholder="Introduce el nombre">
                    </div>
                    <div class="col-md-3">
                        <label for="apellidos" class="form-label mt-4">Apellidos</label>
                        <input type="text" class="form-control rounded-2" id="apellidos" name="apellidos" th:value="${docente.apellidos}" placeholder="Introduce los apellidos">
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label mt-4">Email</label>
                        <input type="text" class="form-control rounded-2" id="email" name="email" th:value="${docente.email}" placeholder="Introduce el email">
                    </div>
                    <div class="col-md-3">
                        <label for="fechaNacimiento" class="form-label mt-4">Fecha de Nacimiento</label>
                        <input type="date" class="form-control rounded-2" id="fechaNacimiento" name="fechaNacimiento" th:value="${docente.fechaNacimiento}" placeholder="Introduce la fecha de nacimiento">
                    </div>
                    <div class="col-md-3">
                        <label for="dni" class="form-label mt-4">DNI</label>
                        <input type="text" class="form-control rounded-2" id="dni" name="dni" th:value="${docente.dni}" placeholder="Introduce el dni">
                    </div>
                    <div class="col-md-3">
                        <label for="telefono" class="form-label mt-4">Teléfono</label>
                        <input type="text" class="form-control rounded-2" id="telefono" name="telefono" th:value="${docente.telefono}" placeholder="Introduce el telefono">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="sexo" class="form-label mt-4" name="sexo">Sexo</label>
                            <select class="form-select rounded-2" id="sexo" name="sexo" th:value="${docente.sexo}">
                                <option class="rounded-2" name="sexo" id="sexo" th:selected="${docente.sexo eq 'Hombre'} ? 'true' : 'false'">Hombre</option>
                                <option class="rounded-2" name="sexo" id="sexo" th:selected="${docente.sexo eq 'Mujer'} ? 'true' : 'false'">Mujer</option>
                                <option class="rounded-2" name="sexo" id="sexo" th:selected="${docente.sexo eq 'Otro'} ? 'true' : 'false'">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success rounded-2">Confirmar</button>
                    <a type="button" class="btn btn-danger rounded-2" th:href="@{/docentes/list}">Cancelar</a>
                </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>

<!--

    <script>
        function blurFunction(fecha){
            var fechaConvertida = new Date(fecha);
            fechaConvertida = fechaConvertida.toLocaleDateString('en-GB');
            return fechaConvertida;
        }
    </script>

                            <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" onfocus="(this.type='date');" 
                            onblur="(this.type='text', this.value=blurFunction(value));" 
                            th:value="${#dates.format(docente.fechaNacimiento, 'dd-MM-yyyy')}" placeholder="Introduce la fecha de nacimiento">

-->