<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"> </head>
<body>
    
    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Docentes</h1>
        <a th:if="${curso eq null and modulo eq null}" th:href="@{/docentes/create}" class="btn btn-info mb-3 rounded-2">Crear docente</a>
        <div class="row">
            <table class="table table-striped table-hover p-0 m-0">
                <thead>
                    <tr th:if="${curso eq null and modulo eq null}">
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    <tr th:if="${curso ne null or modulo ne null}">
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="docente : ${docentes}">
                        <tr class="table-light text p-0 m-0 align-middle" th:if="${curso eq null and modulo eq null}">
                            <th scope="row" th:text="${docente.codigo}"></th>
                            <td th:text="|${docente.nombre} ${docente.apellidos}|"></td>
                            <td th:text="${docente.email}"></td>
                            <td th:text="${#dates.format(docente.fechaNacimiento, 'dd-MM-yyyy')}"></td>
                            <td th:text="${docente.dni}"></td>
                            <td th:text="${docente.telefono}"></td>
                            <td th:text="${docente.sexo}"></td>
                            <td>
                                <a th:href="@{/docentes/edit/}+${docente.codigo}" class="btn btn-info bi bi-pen fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Editar docente"></a>
                                <button type="button" class="btn btn-danger bi bi-trash fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Borrar docente" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-bs-target='#deleteModal'+${docente.codigo}"></button>                      
                            </td>

                            <!-- Modal, alerta que salta cuando le das a uno de los botones de eliminar para borrar dicha fila -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" th:id="deleteModal+${docente.codigo}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content rounded-2">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="deleteModalLabel">Atencion</h3>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mb-0">El docente va a ser eliminado permanentemente, este cambio no se podrá deshacer, ¿estás seguro?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-success rounded-2" th:href="@{/docentes/delete/{id}(id=${docente.codigo})}">Confirmar</a>
                                            <button type="button" class="btn btn-danger rounded-2" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr class="table-light text p-0 m-0 align-middle" th:if="${curso ne null or modulo ne null}">
                            <td th:text="|${docente.nombre} ${docente.apellidos}|"></td>
                            <td th:text="${docente.dni}"></td>
                            <td th:if="${curso ne null}">
                                <a th:href="@{/cursos/add/tutor/{idTutor}/curso/{idCurso}(idTutor = ${docente.codigo}, idCurso = ${curso.codigo})}" class="btn btn-success bi bi-check fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Añadir tutor"></a>                
                            </td>
                            <td th:if="${modulo ne null}">
                                <a th:href="@{/modulos/add/docente/{idDocente}/modulo/{idModulo}(idDocente = ${docente.codigo}, idModulo = ${modulo.codigo})}" class="btn btn-success bi bi-check fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Añadir docente"></a>                
                            </td>
                        </tr>  
                    </div>
                </tbody>
            </table>
        </div>
    </div>  
    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>