<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>

    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <form class="row g-3" method="post" th:action="@{/modulos/update}">
                <legend>Editar modulo</legend>
                <div class="row">
                    <div class="col-md-3">
                        <label for="codigo" class="form-label mt-4">Codigo</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" th:value="${modulo.codigo}" reandonly>
                    </div>
                    <div class="col-md-3">
                        <label for="nombre" class="form-label mt-4">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${modulo.nombre}" placeholder="Introduce el nombre">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="docente" class="form-label mt-4" name="docente">Docente</label>
                            <select class="form-select" id="docente" name="docente" th:value="${modulo.docente}">
                                <div th:if="${modulo.docente eq null}">
                                    <option name="docente" id="docente" selected="selected"></option>
                                </div>
                                <div th:each="docente : ${docentes}">
                                    <div th:if="${modulo.docente ne null}">
                                        <option th:if="${modulo.docente.codigo eq docente.getCodigo}" name="docente" id="docente" th:value="${docente.codigo}" th:text="|${docente.nombre} ${docente.apellidos}|" selected="selected"></option>
                                        <option th:unless="${modulo.docente.codigo eq docente.getCodigo}" name="docente" id="docente" th:value="${docente.codigo}" th:text="|${docente.nombre} ${docente.apellidos}|"></option>
                                    </div>
                                    <option th:unless="${modulo.docente ne null}" name="docente" id="docente" th:value="${docente.codigo}" th:text="|${docente.nombre} ${docente.apellidos}|"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="curso" class="form-label mt-4" name="curso">Docente</label>
                            <select class="form-select" id="curso" name="curso" th:value="${modulo.curso}">
                                <div th:if="${modulo.curso eq null}">
                                    <option name="curso" id="curso" selected="selected"></option>
                                </div>
                                <div th:each="curso : ${cursos}">
                                    <div th:if="${modulo.curso ne null}">
                                        <div th:if="${modulo.curso.codigo eq curso.getCodigo}">
                                            <option name="curso" id="curso" th:value="${curso.codigo}" th:text="${curso.nombre}" selected="selected"></option>
                                        </div>
                                        <div th:unless="${modulo.curso.codigo eq curso.getCodigo}">
                                            <option name="curso" id="curso" th:value="${curso.codigo}" th:text="${curso.nombre}"></option>
                                        </div>
                                    </div>
                                    <div th:unless="${modulo.curso ne null}">
                                        <option name="curso" id="curso" th:value="${curso.codigo}" th:text="${curso.nombre}"></option>
                                    </div>
                                </div>
                            </select>
                        </div>
                    </div>
                    -->
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <button type="button" class="btn btn-danger"><a th:href="@{/modulos/list}">Cancelar</a></button>
                </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>