<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"> </head>
<body>
    
    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Módulos</h1>
        <div th:replace="commons/operation :: operation"></div>
        <div class="row">
            <table class="table table-striped table-hover p-0 m-0">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="modulo : ${modulos}">
                        <tr class="table-light text p-0 m-0 align-middle">
                            <th scope="row" th:text="${modulo.codigo}"></th>
                            <td th:text="${modulo.nombre}"></td>
                            <td th:if="${modulo.docente ne null}" th:text="|${modulo.docente.nombre} ${modulo.docente.apellidos}|"></td>
                            <td th:unless="${modulo.docente ne null}">Sin docente asignado</td>
                            <td th:if="${modulo.curso ne null}" th:text="${modulo.curso.nombre}"></td>
                            <td th:if="${modulo.curso eq null}">Sin curso asignado</td>
                            <td>
                                <a th:href="@{/modulos/edit/}+${modulo.codigo}" class="btn btn-info bi bi-pen fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Editar módulo"></a>
                                <button type="button" class="btn btn-danger bi bi-trash fs-4 rounded-2" data-bs-tooltip="tooltip" data-bs-placement="top" title="Borrar módulo" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="data-bs-target='#deleteModal'+${modulo.codigo}"></button>                      
                                <a th:if="${modulo.docente ne null}" th:href="@{/modulos/docente/{idDocente}/modulo/{idModulo}(idDocente = ${modulo.docente.codigo}, idModulo = ${modulo.codigo})}" class="btn btn-info bi-person fs-4 rounded-2" role="button" data-bs-tooltip="tooltip" data-bs-placement="top" title="Docente"></a>                                
                                <!-- Modal, alerta que salta cuando le das a uno de los botones de eliminar para borrar dicha fila -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" th:id="deleteModal+${modulo.codigo}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content rounded-2">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="deleteModalLabel">Atencion</h3>                                        </div>
                                            <div class="modal-body">
                                                <p class="mb-0">El módulo va a ser eliminado permanentemente, al hacerlo se borraría la información en otras tablas, este cambio no se podrá deshacer, ¿estás seguro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-success rounded-2" th:href="@{/modulos/delete/{id}(id=${modulo.codigo})}">Confirmar</a>
                                                <button type="button" class="btn btn-danger rounded-2" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div th:replace="commons/pagination :: pagination"></div>
    </div>  
    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>