<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>

    <div th:replace="commons/menu :: menu"></div>
    <div class="container">
        <form class="row g-3" method="post" th:action="@{/cursos/update}">
                <legend>Editar curso</legend>
                <div class="row">
                    <div class="col-md-3">
                        <label for="codigo" class="form-label mt-4">Codigo</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" th:value="${curso.codigo}" reandonly>
                    </div>
                    <div class="col-md-3">
                        <label for="nombre" class="form-label mt-4">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${curso.nombre}" placeholder="Introduce el nombre">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="tutor" class="form-label mt-4" name="tutor">Tutor</label>
                            <select class="form-select" id="tutor" name="tutor" th:value="${curso.tutor}">
                                <div th:if="${curso.tutor eq null}">
                                    <option name="tutor" id="tutor" selected="selected"></option>
                                </div>
                                <div th:each="docente : ${docentes}">
                                    <div th:if="${curso.tutor ne null}">
                                        <div th:if="${curso.tutor.codigo eq docente.getCodigo}">
                                            <option name="tutor" id="tutor" th:value="${docente.codigo}" th:text="|${docente.nombre} ${docente.apellidos}|" selected="selected"></option>
                                        </div>
                                    </div>
                                    <div th:if="${docente.isEsTutor eq false}">
                                        <option name="tutor" id="tutor" th:value="${docente.codigo}" th:text="|${docente.nombre} ${docente.apellidos}|"></option>
                                    </div>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <button type="button" class="btn btn-danger"><a th:href="@{/cursos/list}">Cancelar</a></button>
                </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>